// REMOVER ESSA LINHA AQUIO VOCE CONFIGURA SUAS VARIAVEIS DE AMBIENTE. PROVAVELMENTE NÃO IRÁ PRECISA DE TODAS. REMOVA ESSA LINHA AO USAR.
DB_HOST=
DB_PORT=
DB_USER=
DB_PASSWORD=
DB_NAME=
DB_TYPE=
DATABASE_URL=
DIRECT_URL=
DB_SYNC=false
